<section id="hero-banner">
  <div class="container">
    <div class="hero-banner">
      <div class="hero-banner-text">
        <h2>
          When one door of happiness closes, another opens, but often we look so
          long at the closed door that we do not see the one that has been
          opened for us.
        </h2>
      </div>
      <div class="action-button">
        <button class="btn primary-button">Start Now</button>
      </div>
    </div>
  </div>
</section>
<section id="news">
  <div class="container">
    <div class="section-title">
      <h3 class="heading">News</h3>
    </div>
    <div class="section-content">
      <div class="row">
        <div
          class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12"
          *ngFor="let item of news"
        >
          <div class="news mb-3">
            <div class="news-image">
              <img [src]="item.image" alt="" />
              <div class="date-wrapper">
                <p>
                  <span class="month">June</span>
                  <span class="date">27</span>
                </p>
              </div>
            </div>
            <div class="news-text">
              <p>{{ item.description }}</p>
            </div>
            <div class="action-button">
              <button class="btn secondary-button">Read More</button>
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="news mb-3">
            <div class="news-image">
              <img src="./assets/images/cupcakes.jpg" alt="" />
              <div class="date-wrapper">
                <p>
                  <span class="month">June</span>
                  <span class="date">27</span>
                </p>
              </div>
            </div>
            <div class="news-text">
              <p>Mind Power The Ultimate Success Formula</p>
            </div>
            <div class="action-button">
              <button class="btn secondary-button">Read More</button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="news mb-3">
            <div class="news-image">
              <img src="./assets/images/strawberries.jpg" alt="" />
              <div class="date-wrapper">
                <p>
                  <span class="month">June</span>
                  <span class="date">27</span>
                </p>
              </div>
            </div>
            <div class="news-text">
              <p>
                Kindness And Motication Tips Challenge Groups To Make Better
                Decitions
              </p>
            </div>
            <div class="action-button">
              <button class="btn secondary-button">Read More</button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="news mb-3">
            <div class="news-image">
              <img src="./assets/images/sweet.jpg" alt="" />
              <div class="date-wrapper">
                <p>
                  <span class="month">June</span>
                  <span class="date">27</span>
                </p>
              </div>
            </div>
            <div class="news-text">
              <p>How Great Is the strength of your belief</p>
            </div>
            <div class="action-button">
              <button class="btn secondary-button">Read More</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section id="reviews">
  <div class="container">
    <div class="section-title">
      <h3 class="heading">Reviews</h3>
    </div>

    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
