<footer>
  <div class="container">
    <div class="newsletter">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h4 class="text-center text-sm-center text-md-end newsletter-text">
            Sign up for our newsletter
          </h4>
          <h5
            class="text-center text-sm-center text-md-end newsletter-text-detail"
          >
            Get exclusive updates and promotions straight to you email.
          </h5>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <form>
            <div class="input-group">
              <input
                type="text"
                class="form-control newsletter-email-input"
                placeholder="Email"
                aria-label="Email"
                aria-describedby="basic-addon2"
              />
              <span
                class="input-group-text newsletter-signup-button"
                id="basic-addon2"
                >Sign up</span
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <p class="text-center text-sm-center text-md-start copyright">
          &copy; Imaginary Place. All rights reserved.
        </p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="socials">
          <ul>
            <li>
              <a href="#"><i class="fab fa-lg fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-lg fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-lg fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-lg fa-cloud"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-lg fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="text-center text-sm-center text-md-end powered-by">
          <h4>Powered by</h4>
          <i class="fas fa-2x fa-globe"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
