<section id="reviews">
  <div class="container">
    <div class="section-title">
      <h3 class="heading">Reviews</h3>
    </div>

    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="review">
                <div class="reviewer">
                  <div class="reviewer-image">
                    <img src="./assets/images/person.jpg" alt="" />
                  </div>
                  <div class="reviewer-name">
                    <h4>Mark Holden</h4>
                  </div>
                  <div class="reviewer-stars">
                    <ul>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star fa-lg"></i></li>
                      <li><i class="fas fa-star-half-alt fa-lg"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem nobis aperiam quaerat inventore sint earum vitae.
                    Ad, id! Laudantium id tempora, dolorem ut rerum tenetur?
                    Saepe voluptates perspiciatis delectus voluptas.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
